.starrynight-bg-container {
  position: fixed;
  z-index: -1;
  pointer-events: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* MODIFICADO: de 'background-color' para 'background' */
  background: var(--bg-color); 
}

@keyframes twinkle1 {
  0% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  20% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  40% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  60% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  80% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  100% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }
}

@keyframes twinkle2 {
  0% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  20% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  40% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  60% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  80% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  100% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }
}

@keyframes twinkle3 {
  0% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  20% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  40% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  60% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  80% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  100% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }
}

@keyframes twinkle4 {
  0% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  20% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  40% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  60% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  80% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  100% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }
}

/*
Pure CSS Shooting Star Animation Effect Copyright (c) 2021 by Delroy Prithvi (https://codepen.io/delroyprithvi/pen/LYyJROR)
... (licença) ...
*/
.shootingstar {
  position: absolute;
  width: 4px;
  height: 4px;
  background: var(--spice-shooting-star);
  border-radius: 50%;
  animation: animate 3s linear;
  left: initial;
  z-index: -1;
}

.shootingstar::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, var(--spice-shooting-star), transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}